header {
    nav {
        img {
            height: 32px;
        }
        ul {
            li {
                &:hover {
                    text-decoration: underline;
                }
                a {
                    color: black;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}
